{% macro button(text, type='button', link='', additionalParam) %}
        <button class="px-4 py-4 bg-blue-500 text-white mt-8 w-auto hover:bg-blue-800 rounded" type="{{ type }}">{{ text }}</button>
    {% endif %}
{% endmacro %}