<header class="bg-blue-500 text-white h-64">
    <div class="h-full container mx-auto bg-red flex flex-col justify-center">
        <div>
            <h1 class="text-4xl">{{ message }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sed adipisci tempore. Dignissimos eveniet illum velit perferendis sit. Quo, exercitationem.</p>
        </div>
    </div>
</header>