<nav class="bg-blue-900">
    <ul class="container mx-auto flex justify-between">
        <div class="flex">
            <li class="py-4 mr-6"><a href="/" class="hover:underline text-white">Strona główna</a></li>
            <li class="py-4 mr-6"><a href="/terms" class="hover:underline text-white">Regulamin</a></li>
            <li class="py-4 mr-6"><a href="/users" class="hover:underline text-white">Użytkownicy</a></li>
            <li class="py-4 mr-6"><a href="/search" class="hover:underline text-white">Szukaj</a></li>
        </div>
        <div class="flex justify-center items-center">
        {% if user %}
            <li class="mr-6"><a class="py-2 px-2 bg-blue-500 text-white hover:bg-white hover:text-black" href="/profile">{{ user }}</a></li>
            <li class="py-4 mr-6"><a href="/logout" class="hover:underline text-white">Logout</a></li>
        {% else %}
            <li class="py-4 mr-6"><a href="/login" class="hover:underline text-white">Login</a></li>
        {% endif %}
        </div>
    </ul>
</nav>
