<nav class="bg-blue-900">
    <ul class="container mx-auto py-4 flex">
        <li class="mr-6"><a href="/" class="text-white">Strona główna</a></li>
        <li class="mr-6"><a href="/terms" class="text-white">Regulamin</a></li>
        <li class="mr-6"><a href="/users" class="text-white">Użytkownicy</a></li>
        <li class="mr-6"><a href="/search" class="text-white">Szukaj</a></li>
    </ul>
</nav>
