{% extends "../../base.njk" %}

{% block content %}
    <div class="flex shadow-md py-4">
        <div class="w-48 pb-4">
            {% include "../user/author.njk" %}
        </div>
        <div class="w-auto">
            <h1 class="text-xl mb-10">
                {{ thread.name }}
            </h1>
            <p>{{ thread.createdAt | date_local }}</p>
            <div>
                {{ thread.content }}
            </div>
        </div>
    </div>

    {% for post in thread.posts %}
        {% include "../post/post.njk" %}
    {% endfor %}

    <div id="post-form">
    {# React script mount point #}
    </div>

    {% block scripts %}
        <script src="/js/bundle.js"></script>
        <script>
            window.threadId = {{ thread.id }};
        </script>
    {% endblock %}
{% endblock %}