<table class="table-fixed w-full">
    <thead>
        <tr>
            <th class="w-3/4 px-4 py-2 text-left">Threads</th>
            <th class="w-1/4 px-4 py-2 text-left">Latest post</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
            <tr>
                <td class="border w-3/4 px-4 py-6">
                    <p class="text-lg"><a href="/thread/{{section.id}}" class="hover:underline">{{thread.name}}</a></p>
                    <p class="text-sm"><a href="/user/{{thread.author.username}}" class="hover:underline">@{{thread.author.username}}</a></p>
                    
                </td>
                <td class="border w-1/4 px-4 py-2">no posts yet</td>
            </tr>
        {% endfor %}
    </tbody>
</table>