<table class="table-fixed w-full">
    <thead>
        <tr>
            <th class="w-3/4 px-4 py-2 text-left">Thread</th>
            <th class="w-1/8 px-4 py-2 text-left">Replies</th>
            <th class="w-1/8 px-4 py-2 text-left">Latest post</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
            <tr>
                <td class="border w-3/4 px-4 py-6">
                    <p class="text-lg"><a href="/thread/{{thread.id}}" class="hover:underline">{{thread.name}}</a></p>
                    <p class="text-sm">{{ thread.createdAt | date_local }} by <a href="/user/{{thread.author.username}}" class="hover:underline">@{{thread.author.username}}</a></p>
                </td>
                <td class="border w-1/8 px-4 py-2">{{ thread.posts }}</td>
                
                <td class="border w-1/8 px-4 py-2">
                    {% if thread.latestPost %}
                        {{ thread.latestPost.createdAt | date_local }} by <a href="/user/{{thread.latestPost.author.username}}" class="hover:underline">@{{ thread.latestPost.author.username }}</a>
                    {% else %}
                        No replies yet
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>