<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    {% include "./client/partials/header.njk" %}
    {% include "./client/partials/navigation.njk" %}
    
    {% block content %}
        
    {% endblock %}

    {% block footer %}
        {% include "./client/partials/footer.njk" %}
    {% endblock %}
</body>
</html>