{% extends "../../base.njk" %}

{% block content %}
    <main class="container mx-auto mb-12 py-4">
        <label for="search">search</label>
        <input id="search" name="search" type="search">
    </main>
{% endblock %}