<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoBB Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/favicon.png" sizes="32x32"

</head>
<body>
    <main class="flex">
        {# {% include "./partials/admin.navigation.njk" %} #}
        <div id="admin-index">
        {# mount point #}
        </div>
    </main>

    <script src="/js/admin.bundle.js"></script>
</body>
</html>