{% extends "../../base.njk" %}

{% block content %}
    {% if user %}
    <div id="shoutbox">
        {# shoutbox mount point #}
    </div>
    {% endif %}
    <div class="container mx-auto">
        {% for segment in segments %}
            {% include "./segment.njk" %}
        {% endfor %}
    </div>

    {% if user %}
        <script src="/js/shoutbox.bundle.js"></script>
    {% endif %}
{% endblock %}