<table class="table-fixed w-full">
    <thead>
        <tr>
            <th class="w-3/4 px-4 py-2 text-left">Name</th>
            <th class="w-1/8 px-4 py-2 text-left">Stats</th>
            <th class="w-1/8 px-4 py-2 text-left">Recent posts</th>
        </tr>
    </thead>
    <tbody>
    {% for section in segment.sections %}
        <tr>
            <td class="border w-3/4 px-4 py-6">
                <p class="text-lg"><a href="/section/{{section.id}}" class="hover:underline">{{section.name}}</a></p>
                <p class="text-gray-700 text-sm">{{section.description}}</p>
            </td>
            <td class="border w-1/8 px-4 py-2">no data</td>
            <td class="border w-1/8 px-4 py-2">no posts yet</td>
        </tr>
    {% endfor %}
    </tbody>
</table>